.DS_Store

outputs/*
!outputs/.gitkeep

code/HiggsExample20112012/Level4/cfg_files/*
!code/HiggsExample20112012/Level4/cfg_files/.gitkeep

batch_files/err/*
!batch_files/err/.gitkeep

batch_files/log/*
!batch_files/log/.gitkeep

batch_files/out/*
!batch_files/out/.gitkeep

